* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343556;
    color: white;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.board {
    margin-top: 10px;
    width: 90vw;
    height: 90vw;
    max-width: 800px;
    max-height: 800px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 2px;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 30px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: .2s;
    width: max-content;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.cell {
    background-color: #222338;
    border-radius: 3px;
}

.snake {
    background-color: #7f6cd1;
}

.food {
    background-color: #e63d70;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu h1 {
    margin-bottom: 40px;
}

.intro-text {
    max-width: 500px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 40px;
    margin-top: 5px;
    padding: 0 10px;
}

.btn-play-again {
    margin-right: 20px;
}

.end-score {
    margin-bottom: 30px;
}

.finish-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-restart {
    height: 25px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

.btn-restart img {
    height: 100%;
}

.speed-options {
    display: flex;
    margin-bottom: 70px;
    margin-top: 15px;
}

.speed-option {
    background-color: #222338;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: .2s;
}

.speed-option:hover {
    color: rgba(255, 255, 255, 0.7);
}

.speed-option:nth-child(2) {
    margin: 0 10px;
}

.active {
    background-color: #7f6cd1;
    color: white;
}

.active:hover {
    color: white;
}

.score {
    width: 150px;
}

.direction-controls {
    display: none;
    width: 90vw;
    height: 160px;
    grid-template-columns: .8fr 1.4fr .8fr;
    grid-gap: 5px;
    margin-top: 20px;
}

.direction-controls div {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direction-controls div:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.left {
    grid-row: 1 / span 2;
}

.right {
    grid-row: 1 / span 2;
    grid-column-start: 3;
}

.left img {
    transform: rotateZ(-90deg);
}

.right img {
    transform: rotateZ(90deg);
}

.down img {
    transform: rotateZ(180deg);
}

@media(max-width: 600px) {
    .speed {
        display: none;
    }

    .score {
        width: initial;
    }

    .btn-restart {
        width: initial;
    }

    .direction-controls {
        display: grid;
    }
}

